<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This app shows your weather info</p>
      <img class="portrait" src="/img/vic.jpg" alt="victor">
    </div>
    {{>footer}}
  </body>
</html>
